body {
   text-align: center;
   display: flex;
   flex-direction: column;
}

.main {
   flex: 1;
}

.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.header,
.entry,
.footer {
   background-color: #1F2937;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
   display: flex;
   list-style-type: none;
   gap: 20px;
}

.mainText {
   font-size: 48px;
   font-weight: 800;
   color: #F9FAF8;
}

ul,
.secondaryText {
   font-size: 18px;
   color: #e5e7eb;
}

.entry {
   display: flex;
   align-items: center;
   padding: 30px;
}

.container1 {
   padding: 20px;
}

img {
   max-width: 100%;
}

.body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.container2 {
   display: flex;
   justify-content: center;
   padding: 20px 40px;
}

.quote {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 40px;
}

.author {
   margin-left: auto;
}

.access {
   display: flex;
   justify-content: center;
   gap: 40px;
   margin: 100px;
}

.container3 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.footer {
   padding: 0;
   margin: 0;
}